.productContainer{
  margin:30px;
  padding:30px;
  display:inline-block;
  border:1px solid gray;
  border-radius:10px;

  .btnContainer{

    display:flex;



  .qtyinput{
    width:50;
    padding:0 10px;
    display:block;
    text-align:center;

 }
  }

}


